.mip-components-desc
    font-size 16px
    h2
        padding-top 28px
        padding-bottom 20px
        font-size 24px
        font-weight 600
    p
        color #555
        padding-bottom 20px
        line-height 35px

.mip-components-example-container
    border-radius 9px
    border: 1px solid #eee
    margin-bottom 30px

.mip-components-example-container[mobile-only]
    border none
    display flex
    .mip-components-code
        margin-left 30px
        border 1px solid #eee
    .mip-components-preview
        width 320px
        height 568px
        background-color #f8f8f8
        box-shadow 0 5px 10px 0 rgba(0, 0, 0, 0.1)
        border 1px solid #eee
        border-radius 9px
        .preview-header
            background-color #fff
            

.mip-components-code
    max-height 540px
    overflow-y scroll
    background-color #f8f8f8
    padding 16px
    border-radius 3px
    flex 1
.mip-components-code
    pre
        white-space pre-wrap

.mip-components-preview
    transform translate(0, 0)
    .preview-header
        background-color #f8f8f8
        height 45px
        h4
            text-align center
            line-height 45px